.square {
    width: 12.5% ;
    height: 12.5% ;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin {
    margin: 0 auto;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}